<style>
.navbar-lewagon {
  background: rgba(22, 35, 58, 1);
  width: 100%;
  }
  .navbar-brand {
    color: white !important;
  }

</style>
<div class="background-svg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-6 col-sm-offset-4">
        <div class="form-log">
          <%= simple_form_for @task do |f| %>
              <%= f.input  :name, label: "What's the task?", required: true %>
              <%= f.input  :category, collection: ["Cleaning", "Computering", "Driving", "Ironing", "Moving", "Gardening", "Other"], required: true %>
              <%= f.input  :description, label: "Describe the task:", required: true %>
              <%= f.input  :address, label: "Put the address:", required: true %>
              <%= f.input :picture, label: "Picture of the task?" %>
              <%= f.input :picture_cache, as: :hidden %>
              <%= f.input  :price, label: "Price (€):", hint: 'Insert a price.', required: true %>
              <%= f.button :submit, "Create the task", class: "btn btn-success" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
